@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,500&display=swap');

/* Global */

:root {
  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Newsreader';
  cursor: default;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
  padding-left: 0;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0;
}

/* Nav */

#navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 15px;
  transition: all 300ms ease-in-out;
  z-index: 1;
}

#navbar.navbar--gray {
  background-color: #83a4d4;
  padding: 8px;
}

.navbar__logo {
  font-size: 20px;
  font-weight: 500;
}

.navbar__menu {
  display: flex;
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid transparent;
}

.navbar__menu__item:hover {
  border-color: white;
  background-color: rgb(169, 204, 236);
}

ul li div{
  position: relative;
  height: 25px;
  display: block;
  overflow: hidden;
}

ul li div::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

ul li div span{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  color: white;
  transition-delay: 0.2s;
}

ul li div:hover span:nth-child(1){
  transform: translateY(-100%);
}

ul li div:hover span:nth-child(2){
  transform: translateY(-100%);
}


.navbar__toggle-btn {
  position: absolute;
  top: 18px;
  right: 32px;
  font-size: var(--font-medium);
  color: white;
  display: none;
}

/* Home */
#home {
  background: url(http://m.biondi.co.kr/web/product/big/201908/4aaa42fbde7fa690cb9b10d317af181c.jpg)
    center/cover no-repeat;
  padding: 40px;
  padding-top: 120px;
  text-align: center;
  transition: all 300ms ease-in-out;
}

.home__avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid darkgrey;
}


.home__title,
.home__description {
  color: #000000;
}

.home__contact {
  font-size: var(--font-small);
  font-weight: 700;
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 4px;
  color: #000000;
  font-family: 'Newsreader';
}

.home__contact:hover {
  background-color: #3a7bd5;
}

/* Section common */

.section {
  padding: 70px;
  text-align: center;
  margin: auto;
}

.section__container {
  max-width: 1200px;
  margin: auto;
}

/* About */

.about__majors {
  display: flex;
  justify-content: space-between;
  margin: 80px 0;
}

.major__icon {
  width: 170px;
  height: 170px;
  font-size: 70px;
  line-height: 190px;
  color: rgb(126, 126, 247);
  border: 1px solid blue;
  border-radius: 50%;
  margin-bottom: 16px;
  display: inline-block;
}

.major__icon i {
  transition: all 300ms ease;
}

.major__icon:hover i {
  color: blue;
  transform: rotate(365deg) scale(1.1);
}

.major__title {
  font-weight: bold;
  color: rgb(10, 10, 10);
}


.marjor__description {
  font-size: var(--font-small);
}

/* Skills */

.skillset {
  display: flex;
  background-color: lightgray;
  color: white;
  margin: 20px 0px;
}

.skill__description {
  display: flex;
  justify-content: space-between;
}

.skillset__title {
  color: white;
}

.skillset__left {
  flex-basis: 60%;
  background-color: darkgrey;
  padding: 0px 40px;
}

.skillset__right {
  flex-basis: 40%;
}

.tools {
  background-color: gray;
}

.skill {
  padding-bottom: 32px;
}

.skill__bar {
  width: 100%;
  height: 3px;
  background-color: gray;
}

.skill__value {
  height: 3px;
  background-color: orange;
}

.tools,
.etc {
  padding: 20px;
}

/* Work */

.work__categories {
  margin: 40px;
}

.category__btn {
  border: 1px solid rgb(87, 85, 85);
  border-radius: 4px;
  font-size: var(--font-small);
  padding: 8px 48px;
  position: relative;
  font-family: 'Newsreader';
  font-weight: 500;
}

.category__btn.selected,
.category__btn:hover {
  background-color: #8e9eab;
  color: white;
}

.category__count {
  background-color: #185a9d;
  border-radius: 50%;
  color: white;
  width: 24px;
  height: 24px;
  line-height: 24px;
  display: inline-block;
  position: absolute;
  top: -20px;
  right: 16px;
  opacity: 0;
  transition: all 300ms ease-out;
}

.category__btn.selected .category__count,
.category__btn:hover .category__count {
  opacity: 1;
  top: 0;
}

.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 1;
  transition: all 300ms ease;
}

.work__projects.anim-out {
  opacity: 0.6;
  transform: scale(0.96) translateY(40px);
}

.project {
  width: 400px;
  height: 400px;
  margin: 2px;
  background-color: white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project.invisible {
  display: none;
}

.project__img {
  max-width: 100%;
  max-height: 100%;
}

.project__description {
  background-color: black;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transform: translateY(-10px);
  transition: all 300ms ease-in;
}

.project:hover .project__description {
  opacity: 0.8;
  transform: translateY(0px);
}

.project__description h3 {
  color: orange;
}

.project__description h3:after {
  content: "";
  display: block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 8px;
  width: 50px;
  height: 2px;
  background-color: white;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 40px 0;
}

.container .card {
  position: relative;
  width: 400px;
  height: 400px;
  margin: 20px;
  overflow: hidden;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #333333;
}

.container .card span {
  transition: 0.5s;
  opacity: 0;
}

.container .card:hover span {
  opacity: 1;
}

.container .card span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background: linear-gradient(to right, transparent, #1779ff);
  animation: animate1 2s linear infinite;
}

@keyframes animate1 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.container .card span:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(to bottom, transparent, #1779ff);
  animation: animate2 2s linear infinite;
  animation-delay: 1s;
}

@keyframes animate2 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}

.container .card span:nth-child(3) {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(to left, transparent, #1779ff);
  animation: animate3 2s linear infinite;
  animation-delay: 1s;
}

@keyframes animate3 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.container .card span:nth-child(4) {
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(to top, transparent, #1779ff);
  animation: animate4 2s linear infinite;
  animation-delay: 1s;
}

@keyframes animate4 {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}

.container .card .content {
  position: absolute;
  bottom: -160px;
  width: 100%;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  flex-direction: column;
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  transition: bottom 0.5s;
  transition-delay: 0.8;
}

.container .card:hover .content {
  bottom: 0px;
  transition-delay: 0;
}

.container .card .content .contentBx h3 {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: var(--font-regular);
  text-align: center;
  margin: 40px 0 15px;
  line-height: 1.1em;
  transition: 0.5s;
  opacity: 0;
  transform: translateY(-20px);
  transition-delay: 0.6s;
}

.container .card:hover .content .contentBx h3 {
  opacity: 1;
  transform: translateY(0px);
  font-weight: 500;
}

.container .card:hover .content .contentBx h3 div {
  font-size: var(--font-micro);
  font-weight: 300;
  text-transform: initial;
}

.container .card .content .sci {
  position: relative;
  bottom: 10px;
  display: flex;
}

.container .card .content .sci li {
  list-style: none;
  margin: 0 10px;
  transform: translateY(40px);
  transition: 0.5s;
  opacity: 0;
  transition-delay: calc(0.2s * var(--i));
}

.container .card:hover .content .sci li {
  transform: translateY(0px);
  opacity: 1;
  font-size: var(--font-large);
}

/* Contact */

#contact {
  background-color: gray;
}

.contact__title,
.contact__email,
.contact__rights {
  color: white;
  font-size: var(--font-small);
}

.contact__title {
  margin: 32px 0;
}

.contact__links {
  font-size: var(--font-regular);
  margin: 24px 0;
  transition: all 300ms ease-in;
}

.contact__links i:hover {
  transform: scale(1.1);
  color: yellowgreen;
}

/* Scroll */

.arrowBtn {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 70px;
  height: 70px;
  font-size: var(--font-large);
  background-color: #485563;
  color: white;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 300ms ease-in;
  pointer-events: none;
}

.arrowBtn.visible {
  opacity: 1;
  pointer-events: auto;
}

@media screen and (max-width: 768px) {
  :root {
    /* Font size */
    --font-large: 30px;
    --font-medium: 16px;
    --font-regular: 14px;
    --font-small: 12px
    --font-micro: 10px;
  }

  .navbar__toggle-btn {
    display: block;
    top: 16px;
    right: 16px;
    font-size: var(--font-medium);
  }
  #navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar__menu__item:hover {
    border-color: white;
    background-color: #485563;
  }


  ul li div{
    position: relative;
    height: 25px;
    display: block;
    overflow: hidden;
  }
  
  ul li div::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #485563;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s ease-in-out;
  }
  
  ul li div:hover::before{
    transform: scaleX(1);
  }
  
  ul li div span{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    color: white;
    transition-delay: 0.2s;
  }
  
  ul li div:hover span:nth-child(1){
    transform: translateY(-100%);
  }
  
  ul li div:hover span:nth-child(2){
    transform: translateY(-100%);
  }

  #navbar.navbar--gray {
    padding: 16px;
  }
  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }

  .navbar__menu.open {
    display: block;
  }

  .section {
    padding: 16px;
    padding-top: 40px;
  }

  .about__majors {
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 0;
  }
  .major {
    margin-bottom: 30px;
  }
  .skillset {
    flex-direction: column;
  }

  .category__btn{
    margin: 4px 0px;
    width: 100%;
  }

  .project {
    flex-grow: 1;
  }

  .arrowBtn{
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    right: 16px;
    bottom: 16px;
  }
}
